[submodule "rabbitmq"]
	path = rabbitmq
	url = https://github.com/meeymirita/Rabbitmq-laboratornaya-.git
[submodule "redis"]
	path = redis
	url = https://github.com/meeymirita/Redis-Lab-laboratornaya---.git
[submodule "traefik"]
	path = traefik
	url = https://github.com/meeymirita/Traefik-Lab-laboratornaya--.git
[submodule "php-coffee"]
	path = php-coffee
	url = https://github.com/meeymirita/Php-Coffee-Lab-laboratornaya--.git
